<h1>
  {{title}}
</h1>

<nav>
  <a [routerLink]="['/']" routerLinkActive="router-link-active"><span>Home</span></a>
  <a [routerLink]="['/planets']" routerLinkActive="router-link-active"><span>Planets</span></a>
</nav>

<router-outlet></router-outlet>
